{% extends 'base/static.html' %}{% load static %}{% block style_js %}

<!-- <h4>Reset Password</h4> -->

<body class="page-login">
    <main class="page-content">
        <div class="page-inner p-0 loginBG">
            <div class="backgroundd">
                <img src="https://talkingnummbers.com/images/index%20bg%20rotate.png" alt="Circular Image" class="rotating-image">
            </div>
            <!-- <div class="login-overlay"></div> -->
            <div id="main-wrapper m-0">
                <div class="row m-auto vh-100">
                    <div class="login-box panel">
                        <div class="login-box p-2 ml-1 mr-1  pl-1 pr-1">
                            <h6 class="font-weight-light" style="text-align: center;">Enter Username/E-mail for reset
                                password</h6>
                            <form class="pt-3" method="POST" action="">
                                {% csrf_token %}
                                {% if context.error %}
                                <div class="help-block with-errors errors-style">{{context.error}}</div>
                                {% endif %}
                                <div class="form-group">
                                    <h3>Password reset complete</h3>

                                    <p>Your password has been set. You may go ahead and log in now.</p>

                                    <a href="{% url 'sign-in' %}" class="btn btn-primary"
                                        style="background-color:#14274b; border:#14274b;">Log in</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->
    </main><!-- Page Content -->
</body>

{% endblock %}