{% load i18n %}{% autoescape off %}

{% trans "Hi," %}
{% trans "We received a request to reset your password. If this was you, please click the link below to reset it" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "This link will expire in 10 minutes for your security." %}
If you didn't request this, please ignore this email. Your account remains secure. If you have any questions, feel free to contact us at [Support 
Email].

{% trans "Warm Regards" %}

{% blocktrans %}Talking Nummbers{% endblocktrans %}

{% endautoescape %}