{% extends 'base/static.html' %}{% load static %}{% block style_js %}

<body class="page-login">
    <main class="page-content">
        <div class="page-inner p-0 loginBG">
            <div class="backgroundd">
                <img src="https://talkingnummbers.com/images/index%20bg%20rotate.png" alt="Circular Image" class="rotating-image">
            </div>
            <!-- <div class="login-overlay"></div> -->
            <div id="main-wrapper m-0">
                <div class="row m-auto vh-100">
                    <div class="login-box panel">
                        <div class="login-box p-2 ml-1 mr-1  pl-1 pr-1">
                            <a href="/" class="logo-name text-lg text-center">NTV Lab</a>
                            <p class="text-center m-t-md">Enter your e-mail address below to reset your password</p>
                            <form class="m-t-md" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                <!-- <p class="text-center m-t-xs text-sm">Already have an account?</p> -->
                                <a href="{% url 'sign-in' %}" class="btn btn-default btn-block m-t-md">Back</a>
                            </form>
                            <p class="text-center m-t-xs text-sm">2024 &copy; NTV Labs.</p>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->
    </main><!-- Page Content -->

</body>
{% endblock %}